<div>
  <a href="/">
    Rules
  </a>
</div>

<div>
  <a href="/rock">
    Play Rock
  </a>
</div>

<div>
  <a href="/paper">
    Play Paper
  </a>
</div>

<div>
  <a href="/scissors">
    Play Scissors
  </a>
</div>

<p>
  They played <%= @computer_move %>
</p>

<p>
  <%= @outcome %>
</p> 
